.body{
    font-family: Arial,sans-serif;
    font-size: 16px;
}

#form-container{
    max-width: 600px;
    margin: 0 auto;
}

.question {
    margin-bottom: 20px;
}

.question p {
    margin-bottom: 5px;
}

textarea {
    width: 100%; 
    padding: 8px;
    box-sizing: border-box; 
    border: 1px solid #ccc; 
    border-radius: 4px;
}

button[type="submit"] {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}